
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #0077b6;
    }
    h1 {
      color: #333;
    }
    .quote {
      margin-bottom: 15px;
    }
    .quote p {
      font-size: 18px;
      margin: 5px 0;
    }
    .author {
      font-weight: bold;
      font-size: 16px;
    }
    .message {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>

  <% if (quotes && quotes.length > 0) { %>
    <% quotes.forEach(function(quote) { %>
      <div class="quote">
        <p>"<%= quote.quote %>"</p>
        <p class="author">- <%= quote.author %></p>
      </div>
    <% }); %>
  <% } else { %>
    <p class="message"><%= message %></p>
  <% } %>
</body>
</html>


<form id="categoryForm" action="/quotes" method="GET">
    <label for="favorites">Choose a category:</label>
    <select name="favorites" id="favorites" onchange="updateFormAction()">
      <option value="">--Select--</option>
      <option value="yes">Favorite Quotes</option>
      <option value="no">Disliked Quotes</option>
    </select>
    <button type="submit">Show Quotes</button>
  </form>
  
  <script>
    function updateFormAction() {
      const select = document.getElementById('favorites');
      const selectedValue = select.value;
      const form = document.getElementById('categoryForm');
      if (selectedValue) {
        form.action = `/quotes/${selectedValue}/quotes`;
      } else {
        form.action = "/quotes";
      }
    }
  </script>
  